*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}
.header {
    background-color: #2ff4f4;
    padding: 30px 0;
}
.header h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}
.slogan {
    padding: 15px 0;
    font-size: 16px;
    text-decoration: underline dotted;
}
