/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 400px;
    height: 300px;
    background-color: red;
    margin: 20px 30px 40px 50px;
    /*border-width: 5px;
    border-color: blue;
    border-style: solid;*/
    border: 5px solid blue;
    padding: 20px;
}
.heading{
    color: white;
};
.container-1{
    max-height: 400px;
    max-width: 600px;
    border: 2px solid blue;
    overflow: auto;
}

.heading-1{
}