*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.feedback-container {
    background-color: white;
    width: 500px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
.form-header h1 {
    color: #086961;
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
}
.form-input, .form-select, .form-textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}
.form-textarea {
    height: 120px;
}
.btn-submit {
    width: 100%;
    background-color: #10a39a;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #0d8a82;

}
