*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 420px;
    background-color: #fff;
    border: 2px solid #000;
    margin: auto;
}
.important{
    padding: 10px 15px;
    font-weight: bold;
    font-size: 20px;
    color: orange;
    border-bottom: 1px solid #ccc;
}
.body{
    padding: 15px;
}
.img img{
    width: 100%;
    display: block;
}
.h1{
    margin: 10px 0 5px;
    font-size: 26px;
    font-weight: bold;
}
.h2{
    color: greenyellow;
    margin: 10px 5px;
    font-size: 26px;
    font-weight: bold;
}
.p{
    margin: 10px;
    font-size: 20px;
    font-weight: normal
}