*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 300px;
    border: 2px solid #1eff29;
    border-radius: 10px;
    text-align: center;
}
.banner{
    padding: 30px;
    color: black;
}
.sologan{
    padding-bottom: 30px;
}